:root {
  --Background-Color: #ffffff;
  --Base-Text-Color: #222731;
  --Sub-Text-Color: #3d424c;
  --Input-Background-Color: #eeeeee;
  --Div-Background-Color: #a7a7ab;
  --ToDo-Background-Color: #13a3d8;
  --Done-Background-Color: #1dd072;
  --Doing-Background-Color: #feca14;
  --Trash-Background-Color: #fd4449;
}
* {
  margin: 0;
  padding: 0;
  border-radius: 12px;
  box-sizing: border-box;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Background-Color);
  color: var(--Base-Text-Color);
  margin-top: 5vh;
  width: 100%;
  height: 100%;
}
#inputPlace {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
#btnPlace {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#btnPlace button {
  height: 40px;
}
#getInput {
  background-color: var(--ToDo-Background-Color);
  width: 100px;
  border: var(--Sub-Text-Color) solid 2px;
}
#deleteTrash {
  background-color: var(--Trash-Background-Color);
  width: 100px;
  border: var(--Sub-Text-Color) solid 2px;
}
#input {
  background-color: var(--Input-Background-Color);
  width: 30%;
  height: 100px;
  margin-right: 5%;
  padding: 10px 12px;
  outline: none;
  resize: none;
}

#information {
  display: grid;
  grid-template: 50px 1fr / 1fr 20% 10px 20% 10px 20% 10px 20% 1fr;
  width: 100%;
}
#information div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nameTo_do {
  grid-area: 1/2/2/3;
  justify-content: center;
  background-color: var(--ToDo-Background-Color);
  border: var(--Sub-Text-Color) solid 2px;
}
#nameDoing {
  grid-area: 1/4/2/5;
  justify-content: center;
  background-color: var(--Doing-Background-Color);
  border: var(--Sub-Text-Color) solid 2px;
}
#nameDone {
  grid-area: 1/6/2/7;
  justify-content: center;
  background-color: var(--Done-Background-Color);
  border: var(--Sub-Text-Color) solid 2px;
}
#nameTrash {
  grid-area: 1/8/2/9;
  justify-content: center;
  background-color: var(--Trash-Background-Color);
  border: var(--Sub-Text-Color) solid 2px;
}
#to_doBox {
  grid-area: 2/2/3/3;
}
#doingBox {
  grid-area: 2/4/3/5;
}
#doneBox {
  grid-area: 2/6/3/7;
}
#trashBox {
  grid-area: 2/8/3/9;
}
.task {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Div-Background-Color);
  border: var(--Sub-Text-Color) solid 2px;
  color: var(--Sub-Text-Color);
  margin: 10px auto 0;
  padding: 10px;
  width: 100%;
  cursor: grab;
}
.taskBox {
  justify-content: center;
  background-color: var(--Background-Color);
  padding: 10px;
  width: 95%;
  height: 95%;
}

@media screen and (max-width: 425px) {
  #inputPlace {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    height: 20%;
  }
  #input {
    margin-right: 0;
    width: 90%;
    height: 5%;
  }
  #btnPlace {
    flex-direction: row;
    margin-top: 15px;
    width: 90%;
  }

  #information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  #nameTo_do,
  #nameDoing,
  #nameDone,
  #nameTrash {
    margin-top: 20px;
  }
  #to_doBox,
  #doingBox,
  #doneBox,
  #trashBox,
  #nameTo_do,
  #nameDoing,
  #nameDone,
  #nameTrash {
    width: 90%;
  }
  .task {
    padding: 5px;
  }
}